

<div class="contaier">
    <h1 class="mb-3 p-4 bg-info text-center text-white">Airline Passengers</h1>
    <div class="row">
        <div class="col-md-6 offset-3 mb-4">
            <p>Total Checked in:<strong> {{ checkedInArr.length }} / {{ passengers.length }}</strong></p>
            <app-airline-passenger
                [passArr]="passengers">

            </app-airline-passenger>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-3">
            <app-airline-cards
                *ngFor="let pass of passengers"
                [getPass]="pass"
                (emitPassenger)="onPassenger($event)">

            </app-airline-cards>
        </div>
    </div>
</div>