.circle{
    position: absolute;
    top: 15%;
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.form-control:disabled{
    background-color: #fff;
    opacity: 1;
    border-color: #fff;
}